:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display';
}
#card{
    margin: 40px auto;
    border-radius: 20px;
    width: 450px;
    background-color: var(--Very-pale-blue);
}
.image > img{
    border-radius: 20px 20px 0 0 ;
} 
.desc{
    text-align: center;
    margin: auto;
    padding: 5px;
    width: 275px;
}
.highlight{
    font-size: 20px;
    font-weight: 900;
    color: var(--Dark-blue);
}
.text{
    color: var(--Desaturated-blue);
}
.plan{
    background-color: var(--Pale-blue);
    border-radius: 20px;
    margin: auto;
    width: 280px;
    display: flex;
    height: 68px;
}
.plan > img{
    margin: 10px 2px 10px 3px;
    margin-bottom: auto;
    margin-top: auto;
    height: fit-content;
}
.pricing > p{
    font-size: 12px;
    margin:2px;
    padding: 0;
}
.pricing{
    margin: 15px 2px 10px 3px;
    flex-basis: 150px;
}
.plan > a{
    font-size: 12px;
    margin: 20px;
    position: relative;
    right: 5px;
    color: var(--Bright-blue);
}
.submit{
    text-align: center ;
    margin: 10px auto;
    padding: auto;
}
.submit > button{
    background-color: var(--Bright-blue);
    width: 280px;
    border-radius: 15px;
    height: 50px;
    border: none;
    color: white;
    cursor: pointer;
}
.cancel{
    margin: 10px auto;
    text-align: center;
}
.cancel > a {
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-size: 12px;
}
a{
    font-weight: 900;
    font-family: 'Red Hat Display';
}
.plan > a:hover{
    color: var(--Desaturated-blue);
    text-decoration: none;
}
button:hover{
    background-color: var(--Desaturated-blue);
}
.cancel > a:hover{
    color: var(--Dark-blue);
}
@media (max-width:475px) {
    body{
        background-image: url(images/pattern-background-mobile.svg);
    }
    #card{
        width: fit-content;
    }
    
}